.Loginpage {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  
  label {
  display: block;
  margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  }
  
  button[type="submit"] {
  padding: 10px 20px;
  background-color: #e4e4e4;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  }
  
  button[type="submit"]:hover {
  background-color: #b6a854;
  }

  